* {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    /* text-align: right; */
    border: solid 2px blue;
}

#navLinks {
    display: grid;
    border: solid 2px blueviolet;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 0 0;
    text-align: right;
}