* {
    margin: 0;
    padding: 0;
}


/* .navLinks {
    list-style: none;
    /* text-align: right; */
    /* border: solid 2px blue;
} */ 

.navLinks {
    display: grid;
    border: solid 2px blueviolet;
    grid-template-rows: repeat(3, 1fr);
    text-align: right;
}