* {
    padding: 0;
    margin: 0;
}

$primary-color:rgba(206, 201, 201, 0.353);
$primary-secondary:rgba(175, 163, 163, 0.853);

.Header__main {
    height: 80vh;
    width: 100vw;
    background-color:$primary-color;
}
.Header__main-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin:0 auto;
    padding:3%;
    background-color:$primary-secondary;
    img:nth-child(3) {
        position: absolute;
        left: -100px;
        top: 40vh;
    }
    img:nth-child(4) {
        position: absolute;
        right: -100px;
        top: 10vh;
    }
    img:nth-child(2) {
        width: 50%;
        height: 40%;
        position: absolute;
        bottom: -15vh;
        right: 10vw;
    }
}