*{
    padding: 0;
    margin: 0;
}
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

$primary-color:rgba(156, 94, 75, 0.953);

.father_container{
    background-image: url('https://blog.einstein.ai/content/images/2019/01/annie-spratt-746980b-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
}

@mixin headerAlign {
    text-align: center;
    margin: 15px;
}

.main_container {
    font-family: 'Playfair Display', serif;
    background-color:$primary-color;
    width: 86%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-shadow: .1px .1px 0.1px rgb(161, 36, 36);
}
.article_block {
    width:70%;
    
    margin: 0 auto;
}
.first_block {
    position: relative;
    padding:200px 10px 10px 0px;
    display: flex;
    h2{
        @include headerAlign()
    }

    div:nth-child(1) {

        width: 60%;
        height: 100%;
    }
    img {
        position: absolute;
        right: -15%;
        top: 35vh;
        width: 50%;
        height: 50%;
    }
}
.second_block {
    padding:0px 0px 10px 0px;
    display: flex;
    h2{
        @include headerAlign()
    }
    div:nth-child(1) {
        border: 2px solid green;
        width: 40%;
    } 
    div:nth-child(2) {
        padding: 2%;
        width: 60%;
        height: 100%;
    }
}
.third_block {
    padding:0px 0px 10px 0px;
    display: flex;
    h2{
        @include headerAlign()
    }
    div:nth-child(1) {
        border: 2px solid green;
        width: 40%;
    } 
    div:nth-child(2) {
        padding: 2%;
        width: 60%;
        height: 100%;
    }
}
.fifth_block {
    padding:0px 0px 10px 0px;
    display: flex;
    h2{
        @include headerAlign()
    }
    div:nth-child(1) {
        border: 2px solid green;
        width: 60%;
        padding: 2%;
    } 
    div:nth-child(2) {
        width: 40%;
        height: 100%;
    }
}